header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 40;
  padding: 0.25rem 0;
  width: 100%;
  min-width: 365px;
  height: 3rem;
  background-color: white;
  color: black;
}

header.dark {
  background-color: var(--secundaryDark);
  color: white;
}

nav {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  margin: 0 2.5rem;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.nav-link img {
  width: 36px;
}

.nav-link span {
  font-weight: 600;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 9999px;
  border: 2px solid #e5e7eb;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  background-color: #f3f4f6;
  cursor: pointer;
}

.dark .theme-toggle {
  border-color: #4b5563;
  color: #fff;
  background-color: #374151;
}

.theme-toggle img {
  width: 30px;
}

.theme-toggle.light img {
  filter: drop-shadow(0 0 0.5rem rgba(245, 158, 11, 0.8));
}

.theme-toggle.dark img {
  filter: drop-shadow(0 0 0.5rem rgba(125, 211, 252, 0.5));
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 9999px;
  border: 0;
  padding: 0.25rem;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  transition: all 250ms ease;
}

.cart-button:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.05);
}

.dark .cart-button {
  filter: invert(1);
}

.cart-button img {
  width: 30px;
}

main {
  margin-top: 3rem;
  padding: 2.5rem 0;
  height: 100%;
  background-color: var(--primary);
  min-width: 365px;
}

main.dark {
  background-color: var(--primaryDark);
}
